<li class="media mb-2">
    <div class="media-body">
        <p>
            <strong>{{ publi.Title }}</strong>
            <br>{% assign authors = publi.Author | split: ", " %}{% for author in authors %}{% assign is_member = false %}{% for member in site.lab_members %}{% if author contains member %}{% assign is_member = true %}{% endif %}{% endfor %}{% if is_member %}<span style="text-decoration: underline;">{{ author }}</span>{% else %}{{ author }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}
            <br>{{ publi['Publication Title'] }}
            {% if publi.DOI %}
                [<a href="https://doi.org/{{publi.DOI}}">DOI</a>]
            {% endif %}
            {% if publi.Paper %}
                [<a href="/assets/{{ publi.Paper }}">Paper</a>]
            {% endif %}
            {% if publi.Url %}
                [<a href="{{ publi.Url }}">URL</a>]
            {% endif %}
            {% if publi.Award %}
                <br><span style="color: goldenrod;">🏆 {{ publi.Award }}</span>
            {% endif %}
        </p>
    </div>
</li>